@use 'colors';

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8rem;

}

.body {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.child{
    min-width: 40%;
}

.h1 {
    padding: 40px;
    max-width: 25%;
}

.searchBox {
    display: block;
    position: relative;
    margin: 40px 0 0 30%;
    height: 32%;
    width: 62%;
    border-radius: 30px;
    border: none;
    color: grey;
    background-color: colors.$bg-black;
    box-shadow: 0px 0px 7px grey;
}

.searchBox:focus {
    background-color: colors.$bg-black;
    box-shadow: -10px -3px 1px #2db78ece;
    color: grey;
}

.card {
    max-width: 95%;
    border-radius: 20px;
    margin: 0 auto;
    background-color: colors.$bg-black;
    box-shadow: 0px 0px 10px rgb(70, 70, 70);
}

.table {
    color: grey;
    margin: 0 auto;
    max-width: 95%;
}

.debit {
    color: rgba(250, 9, 9, 0.849);

}
.credit {
    color: #2db78d;
}

.paginationBtns {
    margin: 50px auto;
    width: 80%;
    height: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBtns a {
    padding: 15px;
    margin: 8px;
    border-radius: 60px;
    border: 2px solid #080f0f;
    background-color: colors.$bg-black;
    box-shadow: 0px 0px 7px grey;
    color: colors.$bg-green;
    cursor: pointer;
}

.paginationBtns a:hover {
    color: whitesmoke;
    box-shadow: 0px 0px 10px #2db78eec;
    background-color: colors.$bg-green;
}

.paginationActive a {
    color: whitesmoke;
    background-color: colors.$bg-green;
}
.previousBtn {
    text-decoration: none;
}

.nextBtn {
    text-decoration: none;
}

.highlight {
    background-color: rgba(218, 165, 32, 0.651);
    color: gold;
}