.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: pink;
    height: 8rem;

}

.body {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.child{
    min-width: 40%;
}

.h1 {
    padding: 40px;
    max-width: 25%;
}

.searchBox {
    display: block;
    position: relative;
    margin: 50px 0 0 30%;
    height: 32%;
    width: 62%;
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
}

.card {
    max-width: 95%;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
}

.table {
    margin: 0 auto;
    max-width: 95%;
    // background-color: yellow;
}

.debit {
    color: rgba(250, 9, 9, 0.849);

}
.credit {
    color: #2db78d;
}

.paginationBtns {
    margin: 50px auto;
    width: 80%;
    height: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBtns a {
    padding: 15px;
    margin: 8px;
    border-radius: 60px;
    border: 2px solid #080f0f ;
    color: #080f0f;
    cursor: pointer;
}

.paginationBtns a:hover {
    color: whitesmoke;
    background-color: #2db78d;
}

.paginationActive a {
    color: whitesmoke;
    background-color: #2db78d;
}
.previousBtn {
    text-decoration: none;
}

.nextBtn {
    text-decoration: none;
}